@model EAD_FINAL.ForgetPassword

@{
    Layout = "../Shared/_Header.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    <!-- AJAX -->
    <script>
 
        $(document).ready(function () {
            $('#checking').hide();
            $('#question').hide();
            $('#invalid').hide();


            $('#email').change(function () {
                $('#checking').show();
                $('#invalid').hide();
                $('#spam').hide();

                $uEmail = $('#email').val();
                $path = "/Home/GetAns" + "?email=" + $uEmail;
                           $.getJSON($path , function (data) {
                                if (data == null) {
                                    $('#checking').hide();
                                    $('#question').hide();
                                    $('#invalid').html("No User exists with this email ID");
                                    $('#invalid').show();
                                }
                                else {
                                    $('#invalid').hide();
                                    $('#checking').hide();
                                    $('#question').show();
                                    $('#question').html(data);
            
                                }
                            });


            });
        });
    </script>

</head>

<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>ForgetPassword</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.email)
            </div>
            <div class="editor-field">
                <span style="color:blue">@Html.EditorFor(model => model.email, new { id= "email" })</span>
                <span style="color:red">@Html.ValidationMessageFor(model => model.email)</span>
            </div>
            <div id="checking">Checking....</div>
            <div >

                <br />
                <div id="invalid"></div>
                <div id="spam">
                    @if (ViewBag.spam != null)
                    {
                        <span style="color:red">Email is not Registered yet.</span>
                    }
                @if (ViewBag.invalid != null)
                {
                    <span style="color:red">Answet does not match.</span>
                }
                
                    @if (ViewBag.password != null)
                    {
                        <span style="color:red">User password is <span style="color:green"> @ViewBag.password</span></span>
                    }

                </div>
            </div>
            <div>
<br /><br />                <div style="color:green" id="question"></div>
            </div>

    
            <div class="editor-label">
                @Html.LabelFor(model => model.Answer)
            </div>
            <div class="editor-field">
                <span style="color:blue">@Html.EditorFor(model => model.Answer)</span>
                <span style="color:red">@Html.ValidationMessageFor(model => model.Answer)</span>
</div>
            <div>
               
            </div>
    <br /><br />
            <p>
                <span style="color:green"><input type="submit" value="Get Password"/></span>
            </p>
        </fieldset>
    }
    

</body>
</html>
